<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>Milk</h1>
<form action="#" th:action="@{/products}" th:object="${product}" method="post">
    <p>Milk: <input type="text" th:field="*{productName}" /> </p>
    <p>10kr: <input type="text" th:field="*{price}" /> </p>
    <p><input type="submit" value="Add" /> </p>
</form>
<br/>
Svar: <span th:text="${sum}"></span>
<a href="all">See all pairs</a>
</body>

</html>